@model IEnumerable<BLL.DTOs.NoteDTO>

<div class="align-content-end">
    <partial name="_Notification" class="align-content-end" />
</div>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 clss="text-primary">Your Notes</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Note" asp-action="Create" class="btn btn-outline-success">
                <i class="bi bi-plus-circle-dotted"></i> &nbsp; Add Note
            </a>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-warning" asp-controller="Note" asp-action="SetPriority">Set Priority</a>
</div>
<br />



<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card border-dark mb-3" style="max-width: 20rem;">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>@Html.DisplayFor(modelItem => item.NoteTitle)</span>
                    <div>
                        <button class="btn btn-primary" disabled>@item.DueDate.ToShortDateString()</button>
                    </div>
                </div>
                <div class="card-body">
                    
                    <h4 class="card-text">@Html.DisplayFor(modelItem => item.NoteDescription)</h4>
                    <div class="btn-group" role="group">
                        @if (item.DueDate < DateTime.Now)
                        {
                            <button class="btn btn-group btn-warning" disabled>Expired</button>
                        }
                        else
                        {
                            <button class="btn btn-group btn-success" disabled>Valid</button>
                        }
                        

                        <a class="btn btn-group btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        @{
                            if (item.Status.Equals("Ongoing"))
                            {
                                <a class="btn btn-group btn-primary" asp-action="MarkDone" asp-route-id="@item.Id">Done</a>
                            }
                            else{
                                <button class="btn btn-group btn-success" disabled>Finished</button>
                            }
                        }
                        <a class="btn btn-group btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        
                    </div>
                </div>
            </div>
        </div>

    }
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
